* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
}

body a {
    text-decoration: none;
}

body p {
    margin: 0;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contain {
    width: 100%;
    padding: 0 6%;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* ------------------- Navbar---------------------- */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Navbar top */

.nav-top {
    width: 100%;
    height: auto;
    background-color: #000;
}

.nav-top a {
    padding: 10px 10px;
    display: flex;
    transition: all 400ms ease;
}

.nav-top a:hover {
    background-color: #ffffff8c;
}

.nav-top i {
    color: #fff;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-top: 3px;
}

.nav-top p {
    margin: 0;
    color: #fff;
    font-size: 0.8rem;
}

/* Navbar center */

.nav-center {
    padding: 25px 0;
}

.nav-center .left a {
    color: #888888;
    margin-right: 20px;
    padding-bottom: 5px;
    transition: all 300ms ease;
}

.nav-center .left a:hover {
    color: #000;
}

.nav-center .left a.current {
    color: #000;
    border-bottom: 2px solid #000;
}

.nav-center .left a.current:hover {
    color: #888888;
}

.nav-center .left p {
    margin: 0;
}

.nav-center .center img {
    width: 200px;
    margin-right: 80px;
}

.nav-center .btn {
    padding: 5px 15px;
    border: 1px solid #000;
    transition: all 300ms ease;
}

.nav-center .btn:hover {
    border-color: #888888;
    color: #888888;
}

.nav-center .basket {
    margin-left: 20px;
}

.nav-center .basket a {
    color: #000;
    transition: all 300ms ease;
}

.nav-center .basket a:hover {
    color: #888888;
}

.nav-center .basket i {
    margin-right: 5px;
    font-size: 1.2rem;
}

.nav-center .basket p {
    margin: 0;
    font-size: 0.8rem;
}

.profile {
    border: 0;
    border-radius: 50%;
    background-color: 0;
    display: none;
}

.profile img {
    width: 35px;
    border-radius: 50%;
}

/* Navbar top */

.nav-bottom p {
    margin: 0;
}

.nav-bottom .form-control {
    border: 1px solid #000;
    border-radius: 0;
    border-right: 0;
}

.nav-bottom .form-control:hover {
    cursor: pointer;
}

.nav-bottom .form-control:focus {
    box-shadow: none;
}

.nav-bottom .btn {
    background-color: #000;
    color: #fff;
    border-radius: 0;
    font-size: 1.3rem;
    padding: 0 15px;
    transition: all 300ms ease;
}

.nav-bottom .btn:hover {
    background-color: #4e4e4e;
}

.nav-bottom .left a {
    padding: 16px 5px;
}

.nav-bottom .lead {
    font-size: 1rem;
    color: #000;
    font-weight: 400;
}

.nav-bottom .category:hover .lead {
    color: #888888;
}

.nav-bottom .category .lead:hover {
    color: #000;
}

.nav-bottom .left a.leader {
    color: #ff8800;
    font-size: 1rem;
}

.nav-bottom .left a.leader:hover {
    color: #ff8800;
}

/* Navbar Categories */

.nav-categories {
    width: 100%;
    box-shadow: 0 7px 10px lightgray;
    padding: 10px 0;
    border-top: 2px solid #cccccc15;
    position: absolute;
    background-color: #fff;
    z-index: 10;
}

.news {
    display: none;
}

.girls {
    display: none;
}

.boys {
    display: none;
}

.babies {
    display: none;
}

.brands {
    display: none;
}

.premium {
    display: none;
}

.sports {
    display: none;
}

.hidden {
    display: block;
}

.nav-categories .categories {
    display: flex;
    justify-content: space-between;
}

.nav-categories .nav {
    border-bottom: 1px solid #888888;
    margin-bottom: 10px;
}

.nav-categories .nav a {
    padding-bottom: 10px;
    margin: 0 25px 0 0;
    color: #888888;
}

.nav-categories .nav a:hover {
    color: #000;
}

.nav-categories .nav a.current {
    border-bottom: 2px solid #000;
    color: #000;
}

.nav-categories .nav a.current:hover {
    color: #888888;
}

.nav-categories ul {
    margin: 0;
    padding: 0;
}

.nav-categories ul li {
    list-style: none;
    margin-bottom: 8px;
}

.nav-categories ul li a {
    color: #000;
    font-size: 0.8rem;
    transition: all 200ms ease;
}

.nav-categories ul li a:hover {
    color: #888888;
}

.nav-categories .title a {
    font-weight: 500;
}

.nav-categories ul .none a {
    color: #fff;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* ------------------ Ads Carusel ----------------- */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.rec-carusel {
    height: 615px;
}

.rec__slider {
    margin-top: -15px;
    width: 100%;
    height: 615px;
    flex-direction: column;
}

.rec__slider-counter {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    position: absolute;
    z-index: 10;
    margin-top: -62px;
    margin-left: 700px;
    width: 167px;
    background-color: #fff;
    height: 64px;
}

.rec__slider-wrapper {
    width: 867px;
    margin-top: 15px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.rec__slider-prev {
    margin-right: 10px;
    cursor: pointer;
}

.rec__slider-next {
    margin-left: 10px;
    cursor: pointer;
}

.rec__slide {
    position: relative;
    height: 100%;
}

.rec__slide img {
    width: 867px;
}

.rec__slide .title {
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 3px;
}

.reccontent__descr {
    display: flex;
    justify-content: space-between;
}

.rec__slide .subtitle {
    font-size: 1.4rem;
    color: #888888;
}

.rec {
    width: 100%;
    padding: 30px 0;
}

.rec .contain {
    display: flex;
    justify-content: space-between;
}

.rec .other-rec {
    margin-bottom: 20px;
}

.rec .other img {
    width: 295px;
}

.rec .other h3 {
    font-size: 1.3rem;
    margin-bottom: 3px;
}

.rec .other .subtitle {
    color: #888888;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* ------------------ Ex Carusel ----------------- */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


.exclusive {
    width: 100%;
    padding: 20px 0;
}

.exclusive .title {
    color: #000;
    font-size: 1.4rem;
    margin-bottom: 20px;
    display: inline-block;
}

.exclusive .title:hover {
    color: #888888;
    cursor: pointer;
}

.ex__slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.ex__slider-inner {
    display: flex;
    justify-content: space-between;
    transition: 1s ease all;
}

.ex__slide {
    margin-right: 22px;
    width: 320px;
}

.ex__slide img {
    width: 180px;
}

.ex__slide .cost {
    color: #ff8800;
    font-size: 0.9rem;
    margin-bottom: 8px;
    margin-top: 8px;
}

.ex__slide .cost del {
    color: #000;
}

.ex__slide p {
    font-size: 0.9rem;
    line-height: 16px;
}

.ex__slider-counter {
    width: 88%;
    height: 325px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ex__slider-counter div {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px lightgrey;
    margin: 0 10px;
    text-align: center;
    padding: 14px 0;
    cursor: pointer;
    z-index: 10;
}

.fav {
    display: inline-block;
    font-size: 1.5rem;
    position: absolute;
    color: white;
    margin-top: -315px;
    margin-left: 145px;
}

.fav:hover {
    color: red;
    cursor: pointer;
}

.favChosen {
    color: red;
}

#active {
    display: block;
}

.img {
    display: none;
}

.ex__img-controler{
    width: 100%;
}

.ex__img-hover{
    width: 180px;
    position: absolute;
    height: 259px;
    margin-top: -259px;
    display: flex;
    cursor: pointer;
}

.ex__img-hover img {
    display: none;
}

.ex__img-controler {
    display: none;
}

.ex__img-controler div {
    width: 60px;
    height: 100%;
    position: absolute;
    padding: 0 5px;
    cursor: pointer;
}

.ex__img-controler div:hover span {
    border-color: #aaa;
}

.ex__img-controler div span {
    width: 100%;
    height: 2px;
    display: inline-block;
    position: relative;
    border: 2px solid #d6d6d6b6;
    top: -10px;
}

.ex__img-controler div:nth-child(2) {
    left: 60px;
}

.ex__img-controler div:nth-child(3) {
    left: 120px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* ------------------ Clothes Types ------------------ */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


.clothes__types img {
    margin: 40px 0;
    width: 100%;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* ------------------ Recommend Clothes Types ------------------ */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


.rec-clothes__types img {
    width: 100%;
    margin: 40px 0;
}

.rec-clothes__types img:hover {
    opacity: 0.8;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* ------------------ Recommend Clothes Types ------------------ */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.rec-applacation {
    padding: 40px 0;
}

.rec__app-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.rec__app-carousel {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.rec__app-carousel-inner {
    display: flex;
}

.rec__app-slide img {
    width: 100%;
    margin-right: 30px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* ------------------ Footer ----------------- */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


footer {
    width: 100%;
    background-color: #1c1c1e;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #888888;
    padding: 30px 0 0;
}

.input input {
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    padding-bottom: 10px;
    color: #ccc;
}

.input input:focus{
    outline: 0;
}

.input button {
    padding: 5px 20px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 30px;
}

.input button:hover {
    color: #ccc;
    border-color: #ccc;
}

.box {
    width: 50%;
}

.box p {
    color: #fff;
}

.box p:hover {
    cursor: pointer;
    color: #cccccc;
}

.link {
    border-bottom: 1px solid #fff;
    display: inline-block;
    transition: all 300ms ease;
    margin-top: 20px;
}

.link:hover {
    border: none;
    padding-bottom: 5px;
    border-color: #cccccc;
}

.box .title {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.box .text {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.box:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box:nth-child(2){
    display: flex;
}

.box-item {
    width: 50%;
}

/* -------------------------- Footer center 1 ------------------------------ */

.footer-center_1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box-items p {
    font-size: 0.9rem;
    color: #ccc;
}

.box-items span {
    border-bottom: 1px solid #ccc;
    transition: all 300ms ease;
}

.box-items span:hover {
    border: none;
    cursor: pointer;
}

/* -------------------------- Footer center 2 ------------------------------ */

/* top */

.top .title {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.top ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.top ul li:nth-child(1){
    border-left: 1px solid #888;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.top ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.top ul li {
    list-style: none;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
}

.top ul li span {
    color: #888;
    padding: 2px 10px;
    display: inline-block;
}

.top ul li span.current {
    color: #fff;
}

.top ul li span:hover {
    color: #fff;
    cursor: pointer;
}

/* Bottom */

.footer__nav {
    padding: 20px 0;
    display: none;
}

.nav-contain {
    display: flex;
}

.footer__nav.current {
    display: block;
}

.footer__nav p {
    color: #fff;
}

.footer__nav-head {
    width: 225px;
}

.footer__nav-head p {
    font-size: 0.9rem;
    margin-bottom: 0;
    padding: 5px 0;
    transition: all 300ms ease;
}

.footer__nav-head p.footer__nav-box-titles {
    color: #888;
}

.footer__nav-head p:hover {
    color: #fff;
    cursor: pointer;
}

.working {
    color: #fff;
    border-right: 3px solid #fff;
}

.footer__nav-main.active {
    display: block;
}

.footer__nav-main {
    border-left: 1px solid #fff;
    padding-left: 20px;
    display: none;
}

.footer__contain {
    display: flex;
}

.footer__nav-main div {
    width: 225px;
}

.footer__nav-main p {
    color: #fff;
    font-size: 0.8rem;
    margin: 0;
    padding: 5px 0;
    line-height: 16px;
    transition: all 300ms ease;
    width: 165px;
}

.footer__nav-main p:hover {
    color: #888;
    cursor: pointer;
}

.footer__nav .title {
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin-top: 15px;
}

.footer__nav .text {
    font-size: 0.7rem;
    margin-bottom: 7px;
    line-height: 16px;
    color: #fff;
}

/* Footer Navbar */

.footer-bottom {
    padding: 20px 6%;
    background: #2c2c2e;
    font-size: 1.2rem;
    text-align: center;
    color: #ccc;
}

.footer-bottom a {
    border-bottom: 1px solid #ccc;
    color: #ccc;
    transition: all 300ms ease;
}

.footer-bottom a:hover {
    border-color: #fff;
    border: none;
    color: #fff;
}

/* ----------------------------------------------------- */